@font-face {
    font-family: "DIN";
    src: url("fonts/Roboto-Bold.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/Roboto-Regular.otf");
    font-weight: 300;
}
